<section
  class="relative overflow-y-hidden bg-[url('/img/Polygon_Luminary.svg')] bg-cover bg-center bg-no-repeat min-h-screen z-[1] after:backdrop-blur-[6px] after:content-[''] after:inset-0 after:z-[-1] after:backdrop-brightness-75 after:absolute"
>
  <div class="mx-auto w-10/12 px-[7%] py-10">
    <h1 class="text-5xl font-semibold text-slate-200">Products Index</h1>

    <!-- ini buat itu -->
    <div class="mx-auto mb-4 mt-8 flex items-center justify-between">
      <div class="space-x-1">
        <button
          class="rounded-[0.35rem] px-3 py-px text-slate-200 <%= !category ? 'bg-blue-800' : 'bg-gray-600' %>"
          onclick="window.location.href = '/products' "
        >
          All
        </button>

        <% categories.forEach(ct => { %>
        <button
          class="rounded-[0.35rem] px-3 py-px text-slate-200 <%= ct === category ? 'bg-blue-800' : 'bg-gray-600' %>"
          onclick="window.location.href = '/products?category=<%= ct %>' "
        >
          <%= ct %>
        </button>
        <% });  %>
      </div>

      <!-- ini buat toolbar ama tag -->
      <div class="relative inline-flex space-x-4">
        <button class="size-10 rounded-lg bg-slate-200" id="search-button">
          <i class="bi bi-search cursor-pointer"></i>
        </button>
        <div
          class="absolute -left-[15rem] bottom-0 top-0 w-[13rem] origin-right scale-x-0 rounded-lg bg-slate-200 opacity-0 transition-all"
          id="search-box"
        >
          <input
            type="text"
            placeholder="Search..."
            class="bg-transparent px-4 py-[0.6rem] text-sm focus:outline-none"
          />
          <button type="button" onclick="search()">
            <i class="bi bi-search absolute right-3 top-[0.5rem]"></i>
          </button>
        </div>
        <button class="size-10 rounded-lg bg-slate-200">
          <i class="bi bi-funnel"></i>
        </button>
        <button class="size-10 rounded-lg bg-slate-200">
          <i class="bi bi-filter"></i>
        </button>
      </div>
    </div>

    <!-- Main Container Products -->
    <div
      class="custom-scrollbar mx-auto h-[60vh] max-h-[60vh] space-y-4 overflow-y-auto rounded-lg bg-bgProducts px-[3%] py-10 border-2 border-slate-500 shadow-sm shadow-slate-500"
    >
      <% if (!products.length) { %>
      <h1 class="text-2xl text-center font-semibold text-red-400">
        No Products.
      </h1>
      <% } else {%>
      <% products.forEach(product => { %>
      <div
        class="mx-auto flex w-[90%] items-center justify-between rounded-sm bg-zinc-100 px-10 py-4 shadow-md shadow-[#9290c372] border border-black/50"
      >
        <a
          href="/products/<%= product._id %>"
          class="text-lg font-semibold tracking-wider hover:text-violet-500"
          ><%= product.name %></a
        >
        <form
          action="/products/delete/<%= product._id %>?_method=DELETE"
          method="POST"
        >
          <div
            class="flex overflow-hidden rounded-md font-semibold text-slate-900 last:mr-0"
          >
            <a
              href="/products/edit/<%= product._id %>"
              type="button"
              class="bg-green-500 px-4 py-2 tracking-wide hover:bg-green-600"
            >
              EDIT
            </a>
            <button
              type="button"
              class="bg-red-600 px-4 py-2 tracking-wide mix-blend-darken hover:bg-red-700 text-white"
              onclick="deleteConfirmation(this)"
            >
              DELETE
            </button>
          </div>
        </form>
      </div>
      <% }) %>
      <% } %>
    </div>

    <!-- ini buat footer -->
    <div class="flex items-center justify-between">
      <p class="mt-4 text-sm tracking-wider text-slate-300">
        Total item: <%= products.length %>
      </p>
      <a
        href="/products/create"
        class="mr-10 mt-4 rounded-lg bg-blue-700 px-4 py-2 font-semibold tracking-wide text-slate-200 hover:bg-blue-500"
      >
        CREATE NEW
      </a>
    </div>
  </div>
</section>
